.case_study {
  background-color: var(--gray-700);
  padding-block: 24px 96px;
}

.filters_heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.case_study_text_and_supporting_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "open sans";
  text-align: center;

  h2 {
    font-size: var(--section-heading);
    line-height: 48px;
    color: var(--primary-darker);
    font-family: "playfair";
    font-weight: 700;
  }
  h5 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  p {
    color: #c9cfd9;
    max-width: 550px;
    margin: auto;

    font-weight: 500;
  }
}

.filter-section {
  display: flex;
  gap: 18px;
  margin-top: 20px;
  justify-content: center;
  background-color: #2a3443;
  padding-block: 12px;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.3s ease;

  &:hover {
    color: var(--primary-dark);
  }
}

.filter-btn.active {
  color: var(--primary-darker);
}

.case_study_card {
  border-radius: 10px;
  overflow: hidden;
}

.case_study_info {
  background: rgb(239, 241, 255);
  color: #434343;
  font-family: "open sans";
  padding: 24px 12px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  p {
    font-size: 14px;
    line-height: calc(14px * 1.5);
  }
  strong {
    font-weight: 400;
    color: var(--primary-dark);
    font-size: 14px;
  }
}
.case_study_info_heading {
  border-bottom: 1px solid var(--primary-darker);
  font-family: "playfair";
  h3 {
    font-size: 20px;
    font-weight: 700;

    color: var(--primary-darker);
  }
  span {
    font-size: 14px;
    color: var(--gray-500);
    line-height: calc(14px * 1.5);
  }
}

.case_study_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  padding-inline: 32px;
  padding-block: 24px;
}

.show-more-container {
  text-align: center;
  margin-top: 20px;
}

.show-more-container button {
  padding: 12px 24px;
  border: none;
  background: var(--primary-darker);
  color: white;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s ease;
}

.case_study_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding-inline: 32px;
  padding-block: 24px;
}

@media (min-width: 768px) {
  .case_study_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    max-width: 1200x;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .case_study_grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-inline: 0px;
    padding-block: 24px;

    align-items: center;
  }
}
